@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
    
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 450px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    
}
.text-content{
    padding: 7%;
    text-align: center;


}

.title{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;

}
.text-content p.subtitle{
    color: #7d7c8c;
    margin: 25px 20px;
}
.plan-box{
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
       
}

.plan-box-left{
    display: flex;
    align-items: center;
    text-align: left;

}

.plan-box-left div{
    margin-left: 20px;

}

.plan-box-left div h5{
    font-weight: 900;
    font-size: 15px;
    color: hsl(223, 47%, 23%);
}

.plan-box-left div p{
    font-size: 14px;
    color: hsl(223, 47%, 23%);
}

.plan-box a{
    font-weight: 900;
    color: hsl(223, 47%, 23%);

}

.plan-box a:hover{
    text-decoration: none;
    color: hsl(245, 75%, 52%);
}

a.proceed-btn{
    display: block;
    background-color: hsl(245, 75%, 52%);
    text-decoration: none;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    color: white;
    margin: 20px 0;
    font-weight: 700;
}

a.proceed-btn:hover{
    display: block;
    background-color: hsl(224, 23%, 55%);
    text-decoration: none;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    color: white;
    margin: 20px 0;
    font-weight: 700;
}

a.cancel-btn{
    display: block;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

a.cancel-btn:hover{
    display: block;
    text-decoration: none;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

@media only screen and (max-width: 375px){
    body{
        background-image: url(images/pattern-background-mobile.svg);
        font-size: 14px;
    }
    .container{
        max-width: 87%;
    }
    .title{
        font-size: 23px;
    }

    div.plan-box{
        padding: 12px;
    
    }
    .plan-box-left div{
        margin-left: 10px;

    }

}